target/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Eclipse / STS
.project
.classpath
.settings/
.apt_generated/
.factorypath

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# Logs
*.log
