# Backend build output
backend/target/

# Frontend build output
frontend/node_modules/
frontend/dist/
frontend/.vite/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Eclipse / STS
.project
.classpath
.settings/
.apt_generated/
.factorypath

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/

# Logs
*.log
